<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhouxiaofeng.demo">

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ServiceActivity"></activity>
        <activity android:name=".BroadcastActivity"></activity>
        <activity android:name=".FrontActivity"></activity>
        <!--利用BitmapRegionDecoder 加载大图界面-->
        <activity android:name=".CustomViewActivity"></activity>
        <!--利用BitmapRegionDecoder 加载大图界面-->
        <activity android:name=".LargeImageViewActivity"></activity>

        <!--照片墙界面-->
        <activity android:name=".lrucachephotowall.PhotoWallActivity"></activity>
        <!--启动绑定普通服务-->
        <service android:name=".TestService"></service>
        <!--启动绑定前台服务-->
        <service android:name=".FrontService"></service>

        <!--静态注册广播-->
        <receiver android:name=".TestBroadcastReceiver1">
            <intent-filter android:priority="10">
                <action android:name="com.zhouxiaofeng.demo.broadcastreceiver"></action>
            </intent-filter>
        </receiver>


        <!--注册android无障碍服务-->
        <service android:name=".SuperService"
            android:label="AndroidDemo辅助服务"
            android:permission = "android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action  android:name = "android.accessibilityservice.AccessibilityService"  />
            </intent-filter>

            <meta-data
                android:name = "android.accessibilityservice"
                android:resource = "@xml/accessibility_service_config"  /> <!--注意此处-->
        </service>



    </application>

</manifest>